@tailwind base;
@tailwind components;
@tailwind utilities;
.skill-skl div a {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-section {
    background-image: url(./assets/herobg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  