@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-skl div a {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

